.sec.titulo{
    display: flex;
    align-items: center;

}

.imagen-electoral{
    margin-left: 20px;

}

.linkpaso-header{
    text-decoration: none;
}

.linkinformes-header{
    text-decoration: none;
}

.linkgenerales-header{
    text-decoration: none;
}

.linkpaso-header:hover{
    background-color: #333;
}

.linkgenerales-header:hover{
    background-color: #333;
    
}

.linkinformes-header:hover{
    background-color: #333;
    border-style: none;
}


.sec-titulo{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;

}

.large-text {
    display: flex;
    flex-basis: 45%; 
    margin-right: 20px; 
    
}

.imagen-electoral img {
    margin: 15px;
    max-width: 350px;
    width: 350px;
    height: auto;
}

.sec-contenido{
    margin-left: 100px;
}

footer{
    background-color: rgb(59, 59, 59);
    color: rgb(99, 96, 96);
    display: flex;
    
}

.Ministerio{
    width: 150px;
    height: 45px;
}

.logoFooter{
    width: 150px;
    height: 45px;
}

.logos{
    width: 150px;
    height: 45px;
}

h4{
    flex-direction: row-reverse;
    font-size: 15px;
}