@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

.header-page{
    background-color: rgb(76, 141, 214);


}
.header-low{
    background-color: #333;
    display: flex;
    
}
.consultar-header{
    background-color: #333;
    color: white;
    font: #FFF;
    flex-direction: row;
    border-color: #333;

}

.linkpaso-header{
    color: white;
    background-color: magenta;
    border-color: #333;
    border-radius: 5px;
    padding: 10px;
    font: #333;
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
    
}

.linkgenerales-header{
    color: white;
    border-color: #333;
    background-color: skyblue;
    border-radius: 5px;
    padding: 5px;
    font: #FFF;
    font-size: 12px;
    margin-right: 10px;
    flex-direction: row

}

.linkindex-header{
    color: white;
    background-color: #333;
    border-color: #333;
    border-radius: 15px;
    border-color: white;
    border-width: 1px;
    padding: 5px;
    font: #FFF;
    font-size: 10px;
    border-style: solid;
    flex-direction: row-reverse;


}

.sec-titulo{
    display: flex;
    justify-content: center;
}
 h3:first-child {
 color: white;
 background-color: rgb(5, 184, 5);
 border-width: 200px;
 margin-right: 400px;
 margin-left: 400px;
 Padding: 15px;
 Border-radius: 10px;
 font-size:20px;
 font-weight: 200;
 text-align: center;
 
}

h3:nth-child(2) {
    color: white;
    background-color: rgb(211, 211, 3);
    border-width: 200px;
    margin-right: 400px;
    margin-left: 400px;
    Padding: 15px;
    Border-radius: 10px;
    font-size:20px;
    font-weight: 200;
    text-align: center;
   
}

 h3:nth-child(3) {
    color: white;
    background-color: red;
    border-width: 200px;
    margin-right: 400px;
    margin-left: 400px;
    Padding: 15px;
    Border-radius: 10px;
    font-size:20px;
    font-weight: 200;
    text-align: center;
    
}

h3 i.fa{
    font-size: 20px;
    color: white;
}

thead{
    color: black;
    background-color: #FFF;
    border-width: 200px;
    margin-right: 400px;
    margin-left: 400px;
    Padding: 15px;
    Border-radius: 10px;
    font-size:20px;
    font-weight: 200;
    text-align: center;
    
}

th{
    color: black;
    background-color:rgb(216, 213, 213);
    border-color: #333;
    border-width: 200px;
    margin-right: 400px;
    margin-left: 400px;
    Padding: 15px;
    Border-radius: 10px;
    font-size:20px;
    font-weight: 200;
    text-align: center;
     
}

tr:hover{

    background-color: rgb(250, 250, 250)
}

td{
    color: black;
    background-color:rgb(216, 213, 213);
    border-color: #333;
    border-width: 200px;
    margin-right: 400px;
    margin-left: 400px;
    Padding: 15px;
    Border-radius: 10px;
    font-size:20px;
    font-weight: 200;
    text-align: center;
}

.texto-elecciones-chico{
    font-size: 12px;
     Color: black;
     height: bold
}

.texto-path-chico{
   font-size: 11px;
    Color: rgb(81, 180, 219);

}

footer{
    background-color: rgb(59, 59, 59);
    color: rgb(99, 96, 96);
    display: flex;
    
}

.Ministerio{
    width: 150px;
    height: 45px;
}

.logoFooter{
    width: 150px;
    height: 45px;
}

.logos{
    width: 150px;
    height: 45px;
}

h4{
    flex-direction: row-reverse;
    font-size: 15px;
}



tr td:nth-child(3) p:nth-child(1){
    Color:#FFF;
    background-color: skyblue;
    border-radius: 10px;
    Margin: 15px;
    width: 184px;
    height: 70px;
    Padding: 0.5rem 1rem;
    font-size: 17px;
    
}

tr td:nth-child(3) p:nth-child(2){
    Color: white;
    background-color: magenta;
    border-radius: 10px;
    Margin: 15px;
    width: 184px;
    height: 70px;
    Padding: 0.5rem 1rem;
    font-size: 17px;
    
    
    
}

tr td:nth-child(3) p:nth-child(3){
    Color: white;
    background-color: rgb(173, 73, 173);
    border-radius: 10px;
    Margin: 15px;
    width: 184px;
    height: 70px;
    Padding: 0.5rem 1rem;
    font-size: 15px;
}
